<!doctype html>
<html>
  <head>
    <title>About Intervu</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="../public/stylesheets/aboutStyle.css" rel="stylesheet">
  </head>
  <body>
<div class="row">
    <div class="col col-md-3"><img src="../public/images/Katy-Perry.jpg">&nbsp;</div>
    <div class="col col-md-3"><img src="../public/images/aboutpage1.jpg">&nbsp;</div>
    <div class="col col-md-3"><img src="../public/images/aboutpage2.jpg">&nbsp;</div>
    <div class="last col-md-3"><img src="../public/images/jay-z.jpg">&nbsp;</div>
</div>

  </body>
</html>