<!DOCTYPE html>
<html>
<head>
	<title>Activities</title>
<!-- jQuery -->    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" href="../public/stylesheets/activitiesStyle.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="../public/javascripts/app.js"></script>
<script src="../models/data.js"></script>
</head>
<body>   
 
<!-- Search button and my favorite albums button -->    
<div class="row">
    <button type="submit" class="btn btn-default favorites">My favorite albums</button>     
    <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-default">
            <div class="panel-body" id="panelBody">
                <form class="form-inline" id="ourForm">
                    <div class="form-group">
                        <input name="searchAlbum" type="text" class="form-control" id="searchAlbum" placeholder="Search Album">
                    </div>
                    <button type="submit" class="btn btn-default searchBtn" name="searchBar">Search</button>
                </form>
            </div>
        </div>
    </div>
</div> 



<!-- This is where the albums get rendered to -->
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body" id="panelBody">
                    <ul class="list-group" id="album-ul">
                    </ul>
                </div>
            </div>
        </div>





<!-- Log out button for user to click -->
        <div class="container">
            <div class="col-xs-4 col-xs-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body" id="userBody">
                        <form method"GET" action="/logout">
                            <button class="logoutBtn">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
<!-- template for album pictures/info -->
<script type="text/template" id="album-template">
    <% _.each(collection, function (item) { %>
        <ul class="list-album-item" data-id="<%= item.id %>">
            <img src="<%= item.albumPic %>">
            <span class="label-artist-name"><%= item.artist %> : </span>
            <span class="label-artist-albumName"><%= item.albumName %></span>
            <button class="favoriteBtn">Favorite</button>
        </ul>
    <% }); %>
</script>

<!-- template for interviews -->
<script type="text/template" id="interview-template">
    <% _.each(collection, function (item) { %>
        <ul class="list-album-item">
            <div class="label-interview-video"><iframe width="300" height="200" src="<%= item.video1 %>">

            </iframe></div>
        </ul>
    <% }); %>
</script>

<!-- template for searched Albums-->
<script type="text/template" id="albums-template">
    <% _.each(collection, function (item) { %>
        <ul class="list-album-item">
            <img src="<%= item.albumPic %>">
            <span class="label-artist-name"><%= item.artist %> : </span>
            <span class="label-artist-albumName"><%= item.albumName %></span>
            <button class="favoriteBtn">Favorite</button>
        </ul>
    <% }); %>
</script>
</html>






















