<!doctype html>
<html>
  <head>
    <title>Search</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="../public/stylesheets/homeStyle.css" rel="stylesheet">
  </head>
  <body>
<div class="row">
    <div class="one col col-md-3" onclick="location.href='../views/signup.html'"><img src="../public/images/drake.jpg">&nbsp;</div>
    <div class="col col-md-3" onclick="location.href='../views/login.html'"><img src="../public/images/beyonce.jpg">&nbsp;</div>
    <div class="col col-md-3" onclick="location.href='../views/aboutIntervu.html'"><img src="../public/images/kendrick.jpg">&nbsp;</div>
    <div class="last col-md-3" onclick="location.href='../views/contactMe.html'"><img src="../public/images/kanye.jpg">&nbsp;</div>
</div>

  </body>
</html>