<!DOCTYPE html>
<html>
<head>
	<title>Intervu</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../public/stylesheets/homeStyle.css">
</head>
<body>
    <span class="letter">I</span>
    <span class="letter">N</span>
    <span class="letter">T</span>
    <span class="letter">E</span>
    <span class="letter">R</span>
    <span class="letter">V</span>
    <span class="letter">U</span>
<div class="container">
	<button class="button1">New User</button>
	<button class="button2">Existing User</button>
</div>
</body>
</html>