<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../public/stylesheets/signUpStyle.css">
</head>
<body>
<div class="container">
    <div class="row" id="headline">
        Intervu
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4" id="whole">
                <div class="panel-body">
                    <form>
                        <div class="signupForm">
                            <input type="email" class="form-control" id="formEmail" placeholder="Enter email">
                        </div>
                        <div class="signupForm">
                            <input type="password" class="form-control" id="formPassword" placeholder="Password">
                        </div>
                        <button id="button">Submit</button>
                    </form>
                </div>
        </div>
    </div>
</div>
</body>
</html>