.col
{
    float: left;
    width: 25%;
}

.last{
    float: right;
    width: 25%;
}

.row{ 
    height: auto;
    overflow: auto;
}

img {
	-webkit-filter: grayscale(100%);
	float: left;
	width: 25%;
	height: auto;
	overflow: auto;
	background-size: cover;
	width: 315px;
	height: 680px;
}

img:hover {
	-webkit-filter: grayscale(0);
}