#headerRow {
	margin-left: 20px;
}

body {
	background-color: #87BCF5;
}

.panel-default {
	margin-top: 20px;
	background-color: transparent;
}

#searchAlbum {
	padding-left: 70px;
}

#panelBody {
	padding-left: 50px;
}

.btn-default {
	color: #7fa0c5;
}

.list-album-item img {
	height: 70px;
	width: 70px;
	margin-top: 10px;
	display: inline;
}

.list-album-item {
	margin-left: 70px;
}

.favorites {
	margin-top: 37px;
}

#album-ul {
	margin-left: -100px;
}

.glyphicon:hover {
	color: yellow;
}








