#beatles {
	width: 200px;
	height: 170px;
}

#kanye {
	width: 200px;
	height: 170px;
}

#drake {
	width: 200px;
	height: 170px;
}

#wu {
	width: 200px;
	height: 170px;
}

#bey {
	width: 200px;
	height: 170px;
}

#eminem {
	width: 200px;
	height: 170px;
}


#headerRow {
	margin-left: 20px;
}

body {
	background-color: #87BCF5;
}

.panel-default {
	margin-top: 20px;
	background-color: transparent;
}

#searchAlbum {
	padding-left: 70px;
}

#panelBody {
	padding-left: 50px;
}

.btn-default {
	color: #7fa0c5;
}

.list-album-item img {
	height: 70px;
	width: 70px;
}

.list-album-item {
	margin-left: 70px;
}









